body {
  background-color: #CCC;
}

div[card] {
  padding-bottom: 20%;
  height: 0;
  border: 10px solid;
  border-radius: 25px;
  background: white;
}

div[color="1"] {
  /* red */
  background-color: #CC0000;
  border-color: #CC0000;
}

div[color="2"] {
  background-color: #CC00CC;
  border-color: #CC00CC;
}

div[color="3"] {
  background-color: #00CC00;
  border-color: #00CC00;
}

div[fill="1"] {
  background-image: none;
  background-color: #FFF;;
}

/* http://lea.verou.me/css3patterns/#diagonal-stripes */
div[fill="2"] {
  background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, white 35px, white 70px);
}

div[fill="3"] {
  background-image: transparent;/* do nothing */
}
